@import "tailwindcss";

/* @theme {
    --color-brandBg: "#050506";
    --color-cardBg: "#0e0f11";s
    --color-accentGreen: "#22c55e";
    --color-accentGreenMuted: "#14532d";
    --color-textMuted: "#8e9196";
} */